---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html>
  <body>
    <Header />
    <h1>My Astro Learning Blog</h1>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
      <li><a href="/posts/post-002">January 2, 2023</a></li>
      <li><a href="/posts/post-003">January 3, 2023</a></li>
    </ul>
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
