---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Eric Han's Dev Blog</h1>
    <h2>... And my new Astro Site!</h2>
    <p>I am working to document my year in tech for 2023</p>
  </body>
</html>
