---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Eric's Main Blog Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>You can find my portfolio <a href="www.ericqyhan">here!</a></h2>
</BaseLayout>
